@use "styles" as *;

.sidebarCnt {
  width: 367px;
  height: 100svh;
  padding: 36px 28px 78px 28px;
}

.icon {
  font-size: 32px;
}

.titleIconCnt {
  height: 39px;
  display: flex;
  gap: 10px;
}

.title {
  font-weight: $fw-semibold;
  font-size: 26px;
  letter-spacing: 0.01em;
  color: $color-black;
  margin-right: 10px;
}

.titleIconCnt {
  margin-bottom: 53px;
}

.linksCnt {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.minizamed {
  min-width: 102px;
}

.linksCntMin {
  width: 46px;
}

.sidebarCntMin {
  min-width: 102px;
  padding: 36px 32px 78px 32px;
  justify-content: center;
}

.titleMin {
  display: none;
}

.minIcon {
  font-size: 32px;
  cursor: pointer;
  color: blue;
}
